@import "variables";

.button {
  background-color: transparent;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: padding 0.2s;

  @include breakpoint("touch") {
    position: absolute;
    z-index: 99;
  }

  @include breakpoint("medium") { font-size: 25px; }

  &:hover {
    padding: 15px 25px;
    text-decoration: underline;
  }

  &--small {
    font-size: 15px;
    padding: 10px;
  }

  &--right {
    @include breakpoint("small-up") { float: right }
  }

  &--blue {
    border-color: $blue;
    color: $blue;
  }

  &--green {
    border-color: #149215;
    color: #149215;
  }
}
