@import "variables";

.section {
  width: 100%;
  overflow: hidden;

  &--gradient {
    background-image: linear-gradient($dark-grey, $grey);
  }

  &--gradient-inverted {
    background-image: linear-gradient($grey, $dark-grey);
  }

  &--full-height {
    min-height: 100vh;
    align-items: center;

    .section__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    padding: 30px;
    @include breakpoint("limiter");
  }

  @include colors("background-color");
}

footer {
  padding-bottom: 5px;
  text-align: center;

  .fas, .fab, .fa { color: white; font-size: 20px }
}
