@import "variables";

.section {
  width: 100%;
  overflow: hidden;

  &--gradient {
    background-image: linear-gradient($dark-grey, $grey);
  }

  &--gradient-inverted {
    background-image: linear-gradient($grey, $dark-grey);
  }

  &__content {
    padding: 30px;
    @include breakpoint("limiter");
  }

  @include colors("background-color");
}

footer {
  padding-bottom: 5px;
  text-align: center;

  .fas, .fab, .fa { color: white; font-size: 20px }
}
