@import "variables";

.split {
  display: flex;
  flex-direction: column;

  @include breakpoint("medium") {
    flex-direction: row;
  }

  &--inverted {
    @include breakpoint("touch") { flex-direction: column-reverse }
  }

  &__content {
    @include breakpoint("medium") {
      width: 50%;
      padding: 0 25px;
    }

    &--text {
      padding: 0 25px;
      text-align: center;

      @include breakpoint("medium") {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    @include breakpoint("medium") {
      width: 50%;
      padding: 0 25px;
    }
  }
}
