@import "variables";

.title {
  font-weight: Bold;
  font-size: 30px;
  text-transform: uppercase;

  @include breakpoint("medium") { font-size: 50px }
}

.subtitle {
  font-size: 25px;

  @include breakpoint("large") { font-size: 30px }
}

.text {
  &--thin {
    font-weight: lighter;
  }

  &--small { font-size: 20px }

  @include colors("color");
}
