// Colors
$blue: #1D2355;
$dark-grey: #B2B9C2;
$grey: #E8E8E8;

// Breakpoints
@mixin breakpoint($value) {
  @if $value == extra-small {
    @media (max-width: 400px) { @content; }
  }

  @else if $value == small-height {
    @media (max-height: 500px) { @content; }
  }

  @else if $value == small-only {
    @media (max-width: 599px) { @content; }
  }

  @else if $value == small-up {
    @media (min-width: 600px) { @content; }
  }

  @else if $value == touch {
    @media (max-width: 899px) { @content; }
  }

  @else if $value == medium {
    @media (min-width: 900px) { @content; }
  }

  @else if $value == large {
    @media (min-width: 1200px) { @content; }
  }

  @else if $value == extra-large {
    @media (min-width: 1800px) { @content; }
  }

  @else if $value == limiter {
    max-width: 1400px;
    margin: 0 auto;
  }
}

// managing theme colors with a mixin
@mixin colors($attribute) {
  @if $attribute == color {
    &--blue { color: $blue };
  }

  @else if $attribute == background-color {
    &--blue { background-color: $blue };
  }

  @else if $attribute == border-color {
    &--blue { border-color: $blue };
  }
}
