.section {
  width: 100%;
  overflow: hidden; }
  .section--gradient {
    background-image: linear-gradient(#B2B9C2, #E8E8E8); }
  .section--gradient-inverted {
    background-image: linear-gradient(#E8E8E8, #B2B9C2); }
  .section--full-height {
    min-height: 100vh;
    align-items: center; }
    .section--full-height .section__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
  .section__content {
    padding: 30px;
    max-width: 1400px;
    margin: 0 auto; }
  .section--blue {
    background-color: #161d57; }
  .section--grey {
    background-color: #E8E8E8; }
  .section--grey-2 {
    background-color: #707070; }
  .section--dark-grey {
    background-color: #B2B9C2; }
  .section--white {
    background-color: white; }

footer {
  padding-bottom: 5px;
  text-align: center; }
  footer .fas, footer .fab, footer .fa {
    color: white;
    font-size: 20px; }

.split {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto; }
  @media (min-width: 900px) {
    .split {
      flex-direction: row; } }
  @media (max-width: 899px) {
    .split--inverted {
      flex-direction: column-reverse;
      text-align: center; } }
  @media (min-width: 900px) {
    .split__content {
      width: 50%;
      padding: 0 25px; } }
  .split__content--text {
    padding: 0 25px;
    text-align: center; }
    @media (min-width: 900px) {
      .split__content--text {
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  @media (min-width: 900px) {
    .split__content {
      width: 50%;
      padding: 0 25px; } }

.title {
  font-weight: Bold;
  font-size: 30px;
  text-transform: uppercase; }
  @media (min-width: 900px) {
    .title {
      font-size: 50px; } }

.subtitle {
  font-size: 20px; }
  @media (min-width: 1200px) {
    .subtitle {
      font-size: 25px; } }

.text--thin {
  font-weight: lighter; }
.text--bold {
  font-weight: bold; }
.text--small {
  font-size: 20px; }
.text--blue {
  color: #161d57; }
.text--grey {
  color: #E8E8E8; }
.text--grey-2 {
  color: #707070; }
.text--dark-grey {
  color: #B2B9C2; }
.text--white {
  color: white; }
.text--black {
  color: black; }

.button {
  background-color: transparent;
  border: 2px solid;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: padding 0.2s; }
  @media (max-width: 899px) {
    .button {
      position: absolute;
      z-index: 99; } }
  @media (min-width: 900px) {
    .button {
      font-size: 25px; } }
  .button:hover {
    padding: 15px 25px;
    text-decoration: underline; }
  .button--small {
    font-size: 15px;
    padding: 10px; }
  @media (min-width: 600px) {
    .button--right {
      float: right; } }
  .button--blue {
    border-color: #161d57;
    color: #161d57; }
  .button--green {
    border-color: #149215;
    color: #149215; }

.columns {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 900px) {
    .columns {
      flex-direction: row; } }
  .columns--small {
    flex-direction: row; }
  @media (min-width: 600px) {
    .columns--medium {
      flex-direction: row; } }

.column {
  text-align: center; }
  @media (min-width: 900px) {
    .column--1 {
      width: 10%; }
    .column--2 {
      width: 20%; }
    .column--3 {
      width: 30%; }
    .column--4 {
      width: 40%; }
    .column--5 {
      width: 50%; }
    .column--6 {
      width: 60%; }
    .column--7 {
      width: 70%; }
    .column--8 {
      width: 80%; }
    .column--9 {
      width: 90%; } }
  .column--small {
    text-align: center; }
    .column--small--1 {
      width: 10%; }
    .column--small--2 {
      width: 20%; }
    .column--small--3 {
      width: 30%; }
    .column--small--4 {
      width: 40%; }
    .column--small--5 {
      width: 50%; }
    .column--small--6 {
      width: 60%; }
    .column--small--7 {
      width: 70%; }
    .column--small--8 {
      width: 80%; }
    .column--small--9 {
      width: 90%; }
  @media (min-width: 900px) {
    .column--middle {
      margin: 0 20px; } }
  .column--blue {
    background-color: #161d57; }
  .column--grey {
    background-color: #E8E8E8; }
  .column--grey-2 {
    background-color: #707070; }
  .column--dark-grey {
    background-color: #B2B9C2; }
  .column--white {
    background-color: white; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.2s;
  z-index: 999; }
  .navbar a {
    color: #161d57;
    font-weight: 600; }
  .navbar--colored {
    background-color: #ffffffcc;
    border-bottom: 2px solid #161d57; }
  .navbar__mobile {
    display: none;
    padding: 20px; }
    .navbar__mobile img {
      max-width: 30px; }
    @media (max-width: 899px) {
      .navbar__mobile {
        display: flex;
        align-items: center;
        justify-content: space-between; } }
  .navbar__content {
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto; }
    @media (max-width: 899px) {
      .navbar__content {
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        display: none; }
        .navbar__content img {
          display: none; } }
    .navbar__content--active {
      display: flex; }
    @media (min-width: 900px) {
      .navbar__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; } }

.testimonial {
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }
  .testimonial__content {
    overflow-x: scroll;
    display: -webkit-inline-box;
    width: -webkit-fill-available; }
  .testimonial__card {
    text-align: center;
    width: 300px;
    margin: 15px; }
    .testimonial__card img {
      border-radius: 50%;
      width: 150px;
      height: 150px; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.my-float {
  margin-top: 16px; }

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  color: #161d57; }

.spacer {
  margin: 50px 0; }
  .spacer-lg {
    margin: 100px 0; }

@media (max-width: 899px) {
  .negative-margin {
    margin-top: -150px; } }

.small-image {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .small-image:nth-of-type(2) {
      margin-top: -200px; } }
  @media (max-width: 899px) {
    .small-image:nth-of-type(2) {
      margin-top: -100px; } }

.big-image {
  width: 100%; }
  @media (min-width: 900px) {
    .big-image {
      max-width: 800px; } }

.logo-small {
  max-width: 50px; }

.footer-links {
  color: white;
  font-size: 20px;
  list-style: none;
  text-align: left;
  height: 100%;
  margin: 0; }
  .footer-links li {
    margin: 15px 0;
    display: flex;
    align-items: center; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.input {
  padding: 10px;
  padding-right: 0;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 15px;
  width: 95%; }
  @media (min-width: 600px) {
    .input {
      width: 100%; } }

.fas, .fab, .fa {
  color: #161d57;
  font-size: 30px; }

.text-center {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
